<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Pasos para editar un horario de un cliente:
      <br>1.- Modificar la fecha y hora del horario de cobro, seleccionando los datos de las listas desplegables
      <br>2.- Ingresar el nombre del lugar acordado
      <br>3.- Seleccionar el botón agregar
      <br><br>
      *Nota: Revisar ortografía y demás validaciones requeridas para llenar correctamente un formulario</p>
  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Horario</h2>
    <%= link_to "Atrás", client_path(@client) %>
  </div>
  <div class="new-container">
    <%= render 'form2', schedule: @schedule %>
  </div>
</div>
