<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Horario</h2>
    <%= link_to "Atrás", client_path(@client) %>
  </div>
  <div class="new-container">
    <%= render 'form2', schedule: @schedule %>
    <div class="show-links">
      <!-- <%= link_to "Atrás", client_path(@client) %> -->
    </div>
  </div>
</div>
