<div class="global-container">
  <div class="title t-extra">
    <h2>Nuevo Horario</h2>
    <%= link_to "Atrás", client_path(@client) %>
  </div>
  <div class="new-container">
    <%= render 'form', schedule: @schedule %>
  </div>
  <div class="show-links">
    <!-- <%= link_to "Atrás", client_path(@client) %> -->
  </div>
</div>
