<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
    <p>Pasos para editar la información de un cliente:
      <br>1.- Modificar correctamente los campos del formulario, de acuerdo al tipo de dato permitido
      <br>2.- Indicar el código postal para poder autocompletar los campos Colonia, Ciudad y Estado
      <br>3.- Seleccionar el botón agregar
      <br>
      <br>
      *Nota: Revisar ortografía y demás validaciones requeridas para llenar correctamente un formulario
    </p>
  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Cliente</h2>
    <%= link_to 'Atrás', clients_path %>
  </div>
  <div class="new-container">
    <%= render 'form', client: @client %>
  </div>
</div>
