<div class="global-container">
  <div class="title t-extra">
    <h2>Nuevo Cliente</h2>
    <%= link_to 'Atrás', clients_path %>
  </div>
  <div class="new-container">
    <%= render 'form', client: @client %>
  </div>
  <div class="show-links">
    <!-- <%= link_to 'Atrás', clients_path %> -->
  </div>

</div>
