<div class="index-container">
  <div class="info">
    <h1>Perfumes Chávez Ruiz</h1>

    <div class="text-area">
      En Perfumes Chávez Ruiz se ofrece una gran variedad de perfumes en muchas presentaciones, categorías y para distintos tipos de público. Los cuales se pueden conocer mediante este medio a través de un catálogo facilitando la promoción al público.
      <br>
      <br>
      El sistema permite al administrador llevar un control completo tanto de los registros de ventas como del inventario de la perfumería, logrando una mayor eficiencia y permitiendo en tiempo real administrar el negocio desde cualquier lugar.
      <br>
      <br>
      Además puede ser usado como agenda para agilizar la visualización de los horarios de cobro de los clientes y los lugares a los cuales se deberá acudir durante el día.
    </div>
  </div>
</div>
