<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Pasos para editar una nueva cuenta:
      <br>1.- Modificar la fecha de la cuenta, seleccionando los datos de las listas desplegables
      <br>2.- Ingresar el nombre del cliente al que pertenece la cuenta
      <br>3.- Llenar los campos referentes al perfume a agregar, de acuerdo al tipo de dato permitido
      <br>4.- Seleccionar el botón agregar
      <br><br>
      *Nota: Revisar ortografía y demás validaciones requeridas para llenar correctamente un formulario</p>
  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Cuenta</h2>
    <%= link_to 'Volver a la cuenta', bill_path(@bill) %>
    <%= link_to 'Volver al inicio', bills_path %>
  </div>
  <div class="new-container">
    <%= render 'form', bill: @bill %>
    <div class="show-links">
    </div>
  </div>
</div>
