<div class="global-container">
  <div class="title t-extra">
    <h2>Nueva Cuenta</h2>
    <%= link_to 'Atrás', bills_path %>
  </div>
  <div class="new-container">
    <%= render 'form', bill: @bill %>
  </div>
  <div class="show-links">
    <!-- <%= link_to 'Atrás', bills_path %> -->
  </div>
</div>
