<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Articulo</h2>
    <%= link_to 'Atrás', order_datum_orders_path(@order_datum) %>
  </div>
  <div class="new-container">
    <%= render 'form2', order: @order %>
    <div class="show-links">
      <!-- <%= link_to 'Atrás', order_datum_orders_path(@order_datum) %> -->
    </div>
  </div>
</div>
