<div class="global-container">
  <div class="title t-extra">
    <h2>Nuevo Articulo</h2>
    <%= link_to 'Atrás', order_datum_path(@order_datum) %>
  </div>
  <div class="new-container">
    <%= render 'form', order: @order %>
  </div>
  <div class="show-links">
    <!-- <%= link_to 'Atrás', order_datum_path(@order_datum) %> -->
  </div>
</div>
