<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Pasos para modificar correctamente un pedido:
      <br>1.- Modificar la fecha del pedido, seleccionando los datos de las listas desplegables
      <br>2.- Ingresar el nombre del cliente que realiza el pedido
      <br>3.- Seleccionar el botón agregar
      <br><br>
      *Nota: Revisar ortografía y demás validaciones requeridas para llenar correctamente un formulario</p>

  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Pedido</h2>
    <%= link_to 'Volver a la orden', order_datum_path(@order_datum) %>
    <%= link_to 'Volver al inicio', order_data_path %>
  </div>
  <div class="new-container">
    <%= render 'form', order_datum: @order_datum %>
    <div class="show-links">

    </div>
  </div>
</div>
