<div class="global-container">
  <div class="title t-extra">
    <h2>Editar Abono</h2>
    <%= link_to 'Atrás', bill_payments_path %>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="new-container">
    <%= render 'form2', payment: @payment %>
    <div class="show-links">
      <!-- <%= link_to 'Atrás', bill_payments_path %> -->
    </div>
  </div>
</div>
