<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Pasos para agregar correctamente un nuevo abono a una cuenta:
      <br>1.- Ingresar la fecha del abono generado, seleccionando los datos de las listas desplegables
      <br>2.- Ingresar el monto del abono
      <br>3.- Seleccionar el botón agregar</p>
  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Nuevo Abono</h2>
    <%= link_to 'Atrás', bill_path(@bill) %>
    
  </div>
  <div class="new-container">
    <%= render 'form', payment: @payment %>
  </div>
  <div class="show-links">
    <!-- <%= link_to 'Atrás', bill_path(@bill) %> -->
  </div>
</div>
