<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Pasos para añadir correctamente un perfume:
      <br>1.- Llenar correctamente los campos del formulario, de acuerdo al tipo de dato permitido
      <br>2.- Seleccionar las opciones requeridas de las listas desplegables
      <br>3.- Añadir la imagen referente al nuevo perfume a ingresar
      <br>4.- Seleccionar el botón agregar
      <br><br>
      *Nota: Revisar ortografía y demás validaciones requeridas para llenar correctamente un formulario</p>

  </div>
</div>
<div class="global-container">
  <div class="title t-extra">
    <h2>Nuevo Perfume</h2>
    <%= link_to 'Atrás', perfumes_path %>
  </div>
  <div class="new-container">
    <%= render 'form', perfume: @perfume %>
  </div>
</div>
