// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ib-title p {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}
.ib-text {
  display: block;
  -webkit-transition: all 0.7s ease;
  width: 100%;
}
// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base_yellow: #FFF056;
$base_white: #F6F6F6; // #F6F6F6
$base_black: #191919;
$base_gray: #DFE2DB;

.index-container {
  background-image: url("/assets/i-bg3-9bab2fcd1bd19bb186b9b7e2ed38e50cf471cab72681fbdca012cc2d21040b92.jpg");
}

a {
  background-color: $base_yellow;
  border-radius: 7.5px;
  color: $base_black;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  height: 27px;
  //max-width: 250px;
  -webkit-transition: all 0.7s ease;
  &:hover {
    color: $base_gray;
    background-color: $base_black;
  }
}

.mod_a {
  font-size: 0.7em;
}
.hour-in {
  width: 30px;
}
.chiquitititio {
  width: 140px;
}
body {
  color: $base_black;
  background-color: $base_white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-width: 900px; //600
}
h1 {
  font-size: 3em;
  //text-align: center;
  margin: 0 0 10px 5px;
}
h2 {
  font-size: 2.5em;
  //text-align: center;

  margin: 0;
}
h3 {
  font-size: 1em;
}
p {
  font-size: 2em;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0 0 10px 5px;
}
.title a {
  margin-left: 100px;
  text-align: center;
  //width: 170px;
}
.pac-a {
  width: 170px;
}
.t-extra {
  margin-top: 50px;

// #logo
//   background-color: #00000000;
}
#notice {
  margin: 25px auto;
}
#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  background-color: $base_black;
  width: 100%;
  min-height:100px;
}
.global-logo {
  //background-color: Khaki;
  height: 60px;
  min-width: 100px;
  margin: 20px 25px 20px 5%;
}
.global-logo img {
  height: 60px;
}
.global-logo a {
  background-color: "#00000000";
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: auto 25px;
  width: 90%;
}
.menu a {
  background-color: $base_black;
  border-radius: 4px;
  color: $base_gray;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: none;
  margin: 5px 25px;
  -webkit-transition: all 0.6s ease; // 0.8s
  &:hover {
    color: $base_black;
    background-color: $base_yellow;

  //min-width: 190px;
  }
}
.contenedor {
  display: flex;
  flex-direction: column;

  width: 100%;

// Index
}
.index-container {
  display: flex;
  justify-content: flex-start;

  background-size: cover; // contain
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.info {
  margin: 50px auto 0 5%;
  //width: 40%;
}
.text-area {
  background-color: $base_white;
  box-shadow: 2px 2px 10px $base_black;
  padding: 25px 20px;
  max-width: 490px;
}
.global-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 5%;
  width: 90%;
}
// Perfumes
.search-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;


  margin: 20px 0 40px 0;
  padding-left: 0;
  width: 100%;
}
.search-container li {
  margin: 2px 10px;
}

.producto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  // border: 1px;
  // border-color: tomato;
  // //display: inline-block;
  margin: 5px 0;
  width: 100%;
}
.producto-iis {
  display: flex;
  flex-flow: row wrap;

  margin-bottom: 50px;
  width: 400px;
}
.producto-img {
  //background-color: beige;
  // width: 200px;
  // height: auto;
  background-size: cover; // contain
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px $base_black;
  height: 200px;
  width: 200px;
}
// .producto-img img
//   //background-color: tomato;
//   box-shadow: 2px 2px 10px $base_black;
//   height: 200px;
//   width: 200px;

.producto-info {
  width: 200px;
}
// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-ul-2 ul {
  height: 50px;
}
// .table-ul-1 li, .table-ul-2 li
//   min-width: 100px;

.table-ul-ME {
  margin-bottom: 20px;
}


// show
.show-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-size: 1.5em;
}
.show-container ul {
  padding-left: 0;
  margin-right: 100px;
  min-width: 210px;
}
.show-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}
.stay-back {
  justify-content: flex-start;
}
.get-down {
  margin-top: 50px;
  
}
.show-links a {
  margin: 0 10px;
}
.get_down {
  margin-top: 50px;

}
// autocompletado
// #ui-id-1, #ui-id-2
.ui-menu {
  color: $base_black;
  background-color: $base_white;
  border: 1px solid;
  width: 125px;
  padding-left: 0px;
}
.ui-menu-item {
  //border-bottom: 1px solid;
  transition: all 0.5s ease;
  &:hover {
    color: $base_gray;
    background-color: $base_black;
  }
  &:first-child {
    font-weight: normal;
  }
}
.ui-helper-hidden-accessible {
  display: none;
  color: tomato;
  margin-left: 50px;
}
// Cajas de instrucciones  
.instruction-box {
  background-color: $base_gray;
  border: 1px solid $base_black;
  position: fixed;
  bottom: 0;
  right: 0;
  //min-height: 300px;
  min-width: 50px;
  width: 298px;
  max-width: 300px;
  -webkit-transition: all 0.7s ease;
}

.instruction-box p {
  font-size: 1em;
  margin: 10px 0;
  padding: 0 10px;
}
.ib-title {
  display: flex;
  align-items: center;
  
  
  color: $base_gray;
  background-color: $base_black;
  height: 50px;
  width: 100%;
}

.button_show-more {
  color: tomato;
  background-color: "#00000000";
  padding: 0;
  border-bottom-style: solid;
  border-radius: 0;
  border-width: 1px;
}
// #info_show-more
//   display: none;
//   -webkit-transition: all 0.7s ease;

// // .info_show-more
// //   display: none;
//
// .info_sho-less
//   width: 100%;
//   &:hover
//     .info_show-more
//       display: none;
//       -webkit-transition: all 0.7s ease;



.producto-se {
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
  width: 400px;
}
// .producto-se a
//   background-color: #00000000;
//   border: 1px solid $base_black;
//   box-shadow: 1px 1px 5px $base_black;
//   -webkit-transition: all 0.5s ease;
//   &:hover
//     color: $base_black;
//     box-shadow: 2px 5px 10px $base_black;

// about new and forms
.new-container {
  display: flex;
  //align-items: center;
  flex-direction: column;
}
.form-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.form-container ul {
  &:last-child {
    height: 45px;
  }
}
.li-submit {
  height: 37px;
}
.li-submit input[type="submit"] {
  font-weight: 600;
}
// orders
.pedidos-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 5px 0;
  width: 100%;
}
.pedidos {
  display: flex;
  flex-direction: column;
}
.pedidos ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-left: 0;
}
.pedidos li {
  margin-right: 10px;
}
// Clients & Cuentas
.clientes-container, .cuentas-container, .pedidos-d-container,.pedidos-container, .schedules-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  flex-wrap: wrap;

  margin: 5px 0;
  width: 100%;
}

.clientes-container ul, .cuentas-container ul, .pedidos-d-container ul, .pedidos-container ul, .schedules-container ul, .cobros-container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-left: 0;
}
.clientes-container li, .cuentas-container li, .pedidos-d-container li,.pedidos-container li, .schedules-container li, .cobros-container li {
  font-weight: 400;
  margin-right: 5px;
  width: 150px;
}
.ntb1 {
  max-width: 120px;
}
.ntb2 {
  max-width: 100px;
}
.table-ul-1 li {
  font-weight: 600;
}
.producto-img {
  background-image: image-url("Not_an_image.png")
}
